.menu {
/*  background-color: var(--menu-color); */
  display: flex;
  align-items: right;
  justify-content: right;
  padding-left: 0%;
  padding-right: 0%;
  cursor: pointer;
}

.navbar-wrapper {
  height: auto;
}

.navbar {
  overflow: hidden;
  z-index: 2;
}


@media (max-width: 800px) {
  .menu {
    flex-direction: row;
  }
}

.menuitem-subhead {
  display: block;
  text-decoration: none;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: calc(100vw);
  transform: translate(0%, 0%);
  box-sizing: border-box;
  background-color: white;
  margin-left:0px;
  padding-right: 32px;

}

.sticky + .content {
  padding-top: 75px;
}

@media (max-width: 600px) {
  .menu {
    flex-direction: column;
    width: auto;
    float: right;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .sticky {
    display: none;
  }
}

