.menu {
/*  background-color: var(--menu-color); */
  display: flex;
  align-items: right;
  justify-content: right;
  padding-left: 0%;
  padding-right: 0%;
  cursor: pointer;
}

.navbar-wrapper {
  height: auto;
}

.navbar {
  overflow: hidden;
  z-index: 2;
}


@media (max-width: 800px) {
  .menu {
    height: 50px;
  }
}

.menuitem-subhead {
  display: block;
  text-decoration: none;
}

@media (max-width: 600px) {
  .menu {
    height: 50px;
  }
}

.sticky {
  position: fixed;
  top: 0;
  display: block;
  width: 100%;
  width: calc(100vw - 16px);
  box-sizing: border-box;

}

.sticky + .content {
  padding-top: 75px;
}