@media all and (min-width: 480px) {
    .Login {
        padding: 60px 0;
    }

    .Login form {
        margin: 0 auto;
        max-width: 320px;
    }
}

.alert-shown {
    visibility: visible;
    opacity: 1;
}

.alert-hidden {
    transition: visibility 1s, opacity 1s;
    visibility: hidden;
    opacity: 0;
}