@media all and (min-width: 480px) {
    .Login {
        padding: 60px 0;
    }

    .Login form {
        margin: 0 auto;
        max-width: 320px;
    }
}

.table-signetik {
  width: 100%;
  margin-left: 0%;
}

.table-signetik > thead {
  background-color: var(--main-color-dim50);
}

.alert-shown {
    visibility: visible;
    opacity: 1;
}

.alert-hidden {
    transition: visibility 1s, opacity 1s;
    visibility: hidden;
    opacity: 0;
}

.btn-signetik {
    background-color: var(--main-color);
    color: white;
}

.btn-signetik:hover {
    color: white;
    background-color: var(--main-color-dim70);
}