.footer {
  background-color: #3c3c3c;
  padding: 30px;
}

.logo-img-wrapper {
  height: 120px;
  display: flex;
  margin-top: 25px;
}
.logo-img {
  height: 100px;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

.footerlinks {
  display: flex;
  align-items: top;
  justify-content: space-between;
}

.footerlinkscolumn {
  padding-top: 25px;
  padding-bottom: 25px;
}

.footerlinkheader {
  font-family: "Poppins", sans-serif;
  font-size: 12pt;
  font-weight: 600; /* semibold */
  color: white;
  padding-bottom: 6px;
}

.footerlinkitem {
  font-family: "Poppins", sans-serif;
  font-size: 10pt;
  color: white;
  padding-bottom: 6px;
  padding-left: 4px;
  text-decoration: none;
}

.footerinfo {
  border-top: solid thin white;
  font-family: "Poppins", sans-serif;
  font-size: 10pt;
  color: white;
  padding: 10px;
  text-align: center;
}
