.thumbnail {
  width: 350px;
  height: 500px;
  margin: 10px;
  background-color: white;
}

.thumbnail-img {
  height: 200px;
  width: 100%;
  overflow: hidden;
  background-color: rgba(120, 79, 95, 0.3);
}

.thumbnail img {
  margin: 0px;
  padding: 0px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.thumbnail-body {
  padding: 20px;
  #border: solid;
  margin: 0;
}

.thumbnail-title {
  font-family: "Montserrat", sans-serif;
  font-size: 16pt;
  font-weight: 700; /* bold */
  color: black;
  padding-bottom: 20px;
}

.thumbnail-text {
  font-family: "Montserrat", sans-serif;
  font-size: 10pt;
  font-weight: 300; /* light */
  color: black;
  line-height: 150%;
}

.thumbnail-more {
  font-family: "Montserrat", sans-serif;
  font-size: 12pt;
  color: #784f5f;
  padding-top: 30px;
}
