.logo-img {
  height: 60px;
}

.banner {
  height: 140px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 25px 25px;
  box-sizing: border-box;
}

.banner img {
  margin: 0px;
  float: left;
}

.bannerspace {
  overflow: hidden;
  width: auto;
}

.rightside {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction:column;
  justify-content:space-evenly;
}


.infobar {
  display: flex;
  align-items: center;
  float: right;
  justify-content: right;
}

.phone {
  vertical-align: baseline;
  font-size: 11pt;
  color: var(--main-color);
}

.vertbar {
  border-left: 1px solid var(--main-color);
  width: 1px;
  height: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.email {
  font-size: 11pt;
  color: var(--main-color);
}

